/* ----------------------------------------------------------------------- //
//                        Position unique                                  //
// ----------------------------------------------------------------------- */

/* ----------------------------------------------------------------------- //
//                          Margin Bottom                                  //
// ----------------------------------------------------------------------- */

.mb-8{
    margin-bottom: 8px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-32{
    margin-bottom: 32px;
}

.mb-64{
    margin-bottom: 64px;
}

.mb-128{
    margin-bottom: 128px;
}


/* ----------------------------------------------------------------------- //
//                          Margin Top                                     //
// ----------------------------------------------------------------------- */


.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.mt-20{
    margin-top: 20px;
}

.mt-24{
    margin-top: 24px;
}

.mt-32{
    margin-top: 32px;
}

.mt-40{
    margin-top: 40px;
}

.mt-64{
    margin-top: 64px;
}

.mt-128{
    margin-top: 128px;
}


/* ----------------------------------------------------------------------- //
//                          Margin left                                    //
// ----------------------------------------------------------------------- */

.ml-8{
    margin-left: 8px;
}

.ml-16{
    margin-left: 16px;
}

.ml-24{
    margin-left: 24px;
}

.ml-32{
    margin-left: 32px;
}

.ml-64{
    margin-left: 64px;
}

.ml-128{
    margin-left: 128px;
}

/* ----------------------------------------------------------------------- //
//                          Margin rigth                                   //
// ----------------------------------------------------------------------- */

.mr-8{
    margin-right: 8px;
}

.mr-16{
    margin-right: 16px;
}

.mr-24{
    margin-right: 24px;
}

.mr-32{
    margin-right: 32px;
}

.mr-64{
    margin-right: 64px;
}

.mr-128{
    margin-right: 128px;
}


/* ----------------------------------------------------------------------- //
//                          double position                                //
// ----------------------------------------------------------------------- */

/* ----------------------------------------------------------------------- //
//                          Margin left + right                            //
// ----------------------------------------------------------------------- */

.mx-4{
    margin: 0px 4px;
}

.mx-8{
    margin: 0px 8px;
}

.mx-16{
    margin: 0px 16px;
}

.mx-24{
    margin: 0px 24px;
}

.mx-32{
    margin: 0px 32px;
}

.mx-64{
    margin: 0px 64px;
}

.mx-128{
    margin: 10px 28px;
}

/* ----------------------------------------------------------------------- //
//                          Margin top + Bottom                            //
// ----------------------------------------------------------------------- */

.my-8{
    margin: 8px 0px;
}

.my-16{
    margin: 16px 0px;
}

.my-24{
    margin: 24px 0px;
}

.my-32{
    margin: 32px 0px;
}

.my-64{
    margin: 64px 0px;
}

.my-128{
    margin: 128px 0px;
}




/* ----------------------------------------------------------------------- //
//                             all position                                //
// ----------------------------------------------------------------------- */


.m-8{
    margin: 8px;
}

.m-16{
    margin: 16px;
}

.m-24{
    margin: 24px;
}

.m-32{
    margin: 32px;
}

.m-40{
    margin: 40px;
}

.m-48{
    margin: 48px;
}

.m-56{
    margin: 56px;
}

.m-64{
    margin: 64px;
}

.m-128{
    margin: 128px;
}



/* ----------------------------------------------------------------------- //
//                                     AUTO                                //
// ----------------------------------------------------------------------- */


.ml-auto{
    margin-left: auto;
}